@import "variables";

section.catalog {
  background: $bg-c-gray;
  height: 1450px;

  .block-container {
    //@extend %transition;
    max-width: $container-w;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    text-align: center;

    h2 {
      @extend %transition;
      @include h2();
      text-align: center;
      padding: 118px 0 5px 0;
      letter-spacing: 1.8px;
    }

    a.sort {
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.7px;
      text-decoration: none;
      color: $font-c;

      img {
        margin-left: 10px;
      }
    }

    a.more {
      @extend %button;
      img {
        margin-left: 15px;
      }
    }

    /* BLOCK CARD */
    .block-card {
      margin: 42px 0 45px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 304px;
      grid-column-gap: 30px;
      grid-row-gap: 21px;

      .card {
        max-width: 555px;
        background: #fff;
        position: relative;

        &:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 3;
        }

        img.card-img {
          cursor: pointer;
        }

        img.flag {
          position: absolute;
          top: -5px;
          right: 7%;
        }

        .card-info {
          background: #fff;
          padding: 0 0 0 40px;
          height: 191px;
          text-align: left;

          a.tour-name {
            @extend %transition;
            @extend %card-link;
            line-height: 50px;

            img {
              margin-left: 15px;
            }
          }

          .description {

            span {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }

            span.bold {
              font-weight: bold;
              padding-right: 10px;
            }
          }

          .price {
            display: block;
            margin-top: 22px;

            .all-price {
              font-family: 'Roboto Slab', serif;
              font-size: 30px;
              font-weight: 400;
              line-height: 48px;
            }

            .sale-price {
              font-size: 18px;
              font-weight: 400;
              line-height: 48px;
              text-decoration: line-through;
              margin-left: 34px;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

//MEDIA CATALOG

@media (max-width: 1300px) {
  section.catalog {

    .block-container {
      max-width: $media-w;
      h2 {
        font-size: 26px;
        padding: 83px 0 5px 0;
      }

      .block-card {
        margin-top: 35px;
        grid-row-gap: 45px;
        grid-template-rows: 508px;

        .card {
          max-width: 345px;

          img.card-img {
            width: 345px;
            height: 272px;
          }
          &:nth-child(1) {
            grid-row-start: 1;
            grid-row-end: 2;
          }
          &:nth-child(5) {
            display: none;
          }

          .card-info {
            height: 200px;
            padding: 30px 40px;

            a.tour-name {
              line-height: 22px;
            }

            .description {
              margin-top: 10px;
              &:nth-child(3) {
                margin-top: 0;
              }

              .price {
                margin-top: 20px;

                .sale-price {
                  margin-left: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 743px)  {
  section.catalog {
    height: 2290px;
    .block-container {
      h2 {
        font-size: 20px;
      }
      .block-card {
        grid-template-columns: 290px;
        grid-template-rows: 466px;
        justify-content: center;

        .card {
          max-width: 290px;

          img.card-img {
            width: 290px;
            height: 228px;
          }

          .card-info {
            padding: 30px 0 0 22px;
            a.tour-name {
              img {
                margin-left: 5px;
            }
            }

            .description {
              span {
                font-size: 14px;
              }
            }

            .price {
              margin-top: 0;
              .all-price {
                line-height: 30px;
              }
              .sale-price {
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}