@import "variables";

footer {
  height: 130px;

  .block-container {
    max-width: $container-w;
    margin: 30px auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center;

    .links {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 10px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: $font-c;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social {
      display: grid;
    }

    .support {
      display: grid;
      justify-content: end;

      span {
        line-height: 24px;
      }

      span.bold {
        font-weight: 700;
        font-size: 14px;
      }
      span.small {
        font-size: 10px;
      }
    }
  }
}


//FOOTER MEDIA

@media (max-width: 1300px) {
  footer {
    .block-container {
      max-width: $media-w;
    }
  }
}

@media (min-width: 320px) and (max-width: 743px)  {
  footer {
    .block-container {
      grid-auto-flow: row;
      grid-row-gap: 10px;
      justify-content: center;
      text-align: center;

      .links {
        display: none;
      }
    }
  }
}