@import "variables";

header {
  @extend %transition;
  height: 648px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;


  img.img-lines {
    @extend %transition;
    position: absolute;
    bottom: -100px;
    left: 48%;
  }

  /* MENU */
  .top-menu {
    @extend %transition;
    max-width: $container-w;
    height: 60px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;


    a {
      text-decoration: none;
      font-size: 14px;
      line-height: 48px;
      color: $font-c;

      &:hover {
        text-decoration: underline;
      }
    }

    .hamburger {
      @include grid();
      justify-content: start;
      padding-left: 5px;
      cursor: pointer;
      position: relative;

      ul.drop-menu {
        @extend %transition;
        position: absolute;
        bottom: 100px;
        left: 20px;
        display: block;

        li {
          list-style: none;
          border-bottom: 1px solid #fff;
          text-align: center;
          &:last-child {
            border-bottom: 0;
          }

          a.drop-menu-a {
            transition: 0.3s all ease;
            display: block;
            width: 150px;
            background: $blue-c;
            color: #fff;
            text-decoration: none;

            &:hover {
              background: lighten($blue-c, 10%);
            }
          }
        }
      }
    }

    .nav {
      @include grid();
      grid-auto-flow: column;
      justify-content: end;
      grid-gap: 24px;

      img {
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    .top-contacts {
      @include grid();
      justify-content: end;

      span.tel {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.7px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  /* BLOCK-LOGO */
  .block-logo {
    margin: 34px auto;
    max-width: $container-w;
    grid-auto-flow: row;
    text-align: center;


    .logo {
    }

    h2 {
      @extend %transition;
      @include h2();
    }

    h1 {
      @extend %transition;
      font-size: 100px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -2.5px;
      margin-bottom: 52px;
    }

    a.btn {
      @extend %button;
    }
  }
}

//MEDIA HEADER

@media (max-width: 1300px) {
  header {
    height: 608px;
    img.img-lines {
      bottom: -80px;
    }

    .top-menu {
      max-width: $media-w;
    }

    .block-logo {
      h2 {
        font-size: 26px;
      }

      h1 {
        font-size: 72px;
        margin-bottom: 23px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 743px)  {
  header {
    height: 583px;
    img.img-lines{
      height: 210px;
    }

    .top-menu {
      .hamburger {
        padding-left: 20px;
      }
      .nav {
        display: none;
      }
      .top-contacts {
        display: none;
      }
    }

    .block-logo {
      margin-top: -40px;
      h2 {
        font-size: 20px;
      }

      h1 {
        font-size: 50px;
        letter-spacing: 1px;
        margin-bottom: 43px;
      }
    }
  }
}