@import "variables";

.popup-window {
  display: none;
  @extend %transition;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  //position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  position: fixed;
}

.popup-block {
  @extend %transition;
  display: none;
  position: absolute;
  top: 80%;
  left: 35%;
  z-index: 1;
  margin: 0 auto;
  width: 555px;
  text-align: center;

  img {
    @extend %transition;
    border: 5px solid #ffffff;
    z-index: 2;
    text-align: center;
    height: 455px;
    width: 555px;
  }

  a {
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: $blue-c;
    }
  }
  .prev {
    position: absolute;
    top: 50%;
    left: -50px;
  }
  .next {
    position: absolute;
    top: 50%;
    right: -50px;
  }

  span.close {
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -50px;
    font-size: 20px;
    color: #ffffff;
  }
}