@import "variables";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $font-c;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}