/* COLORS */
$blue-c: #33c7fd;
$link-c-c: #00a2dd;
$red-c: #f20542;
$font-c: #0d3351;
$bg-c-gray: #f3f3f3;

/* vars */
$container-w: 1140px;
$media-w: 715px;
$media-w2: 320px;


/* extends */
%transition {
  transition: 1s all ease-in-out;
}

%grid-center {
  display: grid;
  align-content: center;
}

%button {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  //line-height: 48px;
  font-weight: 400;
  background: $blue-c;
  color: #fff;

  &:hover {
    background: lighten($blue-c, 10%);
    transition: 0.3s all ease;
  }
}

%card-link {
  font-size: 18px;
  //line-height: 50px;
  font-weight: 400;
  text-decoration: none;
  color: $link-c-c;
  font-family: 'Roboto Slab', serif;

  &:hover {
    color: lighten($link-c-c, 10%);
    transition: 0.3s all ease;
  }
}

@mixin grid() {
  display: grid;
  align-content: center;
}

@mixin h2() {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}
