/* COLORS */
/* vars */
/* extends */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic");
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  color: #0d3351;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif; }

/* COLORS */
/* vars */
/* extends */
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

/*a-links || font-family: 'Raleway', sans-serif;*/
/*h1, h2, h3 || font-family: 'Roboto Slab', serif;*/
/* COLORS */
/* vars */
/* extends */
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

header {
  height: 648px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  /* MENU */
  /* BLOCK-LOGO */ }
  header img.img-lines {
    position: absolute;
    bottom: -100px;
    left: 48%; }
  header .top-menu {
    max-width: 1140px;
    height: 60px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column; }
    header .top-menu a {
      text-decoration: none;
      font-size: 14px;
      line-height: 48px;
      color: #0d3351; }
      header .top-menu a:hover {
        text-decoration: underline; }
    header .top-menu .hamburger {
      display: grid;
      align-content: center;
      justify-content: start;
      padding-left: 5px;
      cursor: pointer;
      position: relative; }
      header .top-menu .hamburger ul.drop-menu {
        position: absolute;
        bottom: 100px;
        left: 20px;
        display: block; }
        header .top-menu .hamburger ul.drop-menu li {
          list-style: none;
          border-bottom: 1px solid #fff;
          text-align: center; }
          header .top-menu .hamburger ul.drop-menu li:last-child {
            border-bottom: 0; }
          header .top-menu .hamburger ul.drop-menu li a.drop-menu-a {
            transition: 0.3s all ease;
            display: block;
            width: 150px;
            background: #33c7fd;
            color: #fff;
            text-decoration: none; }
            header .top-menu .hamburger ul.drop-menu li a.drop-menu-a:hover {
              background: #66d5fd; }
    header .top-menu .nav {
      display: grid;
      align-content: center;
      grid-auto-flow: column;
      justify-content: end;
      grid-gap: 24px; }
      header .top-menu .nav img {
        padding-right: 8px;
        padding-left: 8px; }
    header .top-menu .top-contacts {
      display: grid;
      align-content: center;
      justify-content: end; }
      header .top-menu .top-contacts span.tel {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.7px; }
      header .top-menu .top-contacts span {
        font-size: 10px; }
  header .block-logo {
    margin: 34px auto;
    max-width: 1140px;
    grid-auto-flow: row;
    text-align: center; }
    header .block-logo h2 {
      font-size: 36px;
      font-weight: 400;
      line-height: 48px; }
    header .block-logo h1 {
      font-size: 100px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -2.5px;
      margin-bottom: 52px; }

@media (max-width: 1300px) {
  header {
    height: 608px; }
    header img.img-lines {
      bottom: -80px; }
    header .top-menu {
      max-width: 715px; }
    header .block-logo h2 {
      font-size: 26px; }
    header .block-logo h1 {
      font-size: 72px;
      margin-bottom: 23px; } }

@media (min-width: 320px) and (max-width: 743px) {
  header {
    height: 583px; }
    header img.img-lines {
      height: 210px; }
    header .top-menu .hamburger {
      padding-left: 20px; }
    header .top-menu .nav {
      display: none; }
    header .top-menu .top-contacts {
      display: none; }
    header .block-logo {
      margin-top: -40px; }
      header .block-logo h2 {
        font-size: 20px; }
      header .block-logo h1 {
        font-size: 50px;
        letter-spacing: 1px;
        margin-bottom: 43px; } }

/* COLORS */
/* vars */
/* extends */
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

section.catalog {
  background: #f3f3f3;
  height: 1450px; }
  section.catalog .block-container {
    max-width: 1140px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    text-align: center;
    /* BLOCK CARD */ }
    section.catalog .block-container h2 {
      font-size: 36px;
      font-weight: 400;
      line-height: 48px;
      text-align: center;
      padding: 118px 0 5px 0;
      letter-spacing: 1.8px; }
    section.catalog .block-container a.sort {
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.7px;
      text-decoration: none;
      color: #0d3351; }
      section.catalog .block-container a.sort img {
        margin-left: 10px; }
    section.catalog .block-container a.more img {
      margin-left: 15px; }
    section.catalog .block-container .block-card {
      margin: 42px 0 45px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 304px;
      grid-column-gap: 30px;
      grid-row-gap: 21px; }
      section.catalog .block-container .block-card .card {
        max-width: 555px;
        background: #fff;
        position: relative; }
        section.catalog .block-container .block-card .card:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 3; }
        section.catalog .block-container .block-card .card img.card-img {
          cursor: pointer; }
        section.catalog .block-container .block-card .card img.flag {
          position: absolute;
          top: -5px;
          right: 7%; }
        section.catalog .block-container .block-card .card .card-info {
          background: #fff;
          padding: 0 0 0 40px;
          height: 191px;
          text-align: left; }
          section.catalog .block-container .block-card .card .card-info a.tour-name {
            line-height: 50px; }
            section.catalog .block-container .block-card .card .card-info a.tour-name img {
              margin-left: 15px; }
          section.catalog .block-container .block-card .card .card-info .description span {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; }
          section.catalog .block-container .block-card .card .card-info .description span.bold {
            font-weight: bold;
            padding-right: 10px; }
          section.catalog .block-container .block-card .card .card-info .price {
            display: block;
            margin-top: 22px; }
            section.catalog .block-container .block-card .card .card-info .price .all-price {
              font-family: 'Roboto Slab', serif;
              font-size: 30px;
              font-weight: 400;
              line-height: 48px; }
            section.catalog .block-container .block-card .card .card-info .price .sale-price {
              font-size: 18px;
              font-weight: 400;
              line-height: 48px;
              text-decoration: line-through;
              margin-left: 34px;
              opacity: 0.5; }

@media (max-width: 1300px) {
  section.catalog .block-container {
    max-width: 715px; }
    section.catalog .block-container h2 {
      font-size: 26px;
      padding: 83px 0 5px 0; }
    section.catalog .block-container .block-card {
      margin-top: 35px;
      grid-row-gap: 45px;
      grid-template-rows: 508px; }
      section.catalog .block-container .block-card .card {
        max-width: 345px; }
        section.catalog .block-container .block-card .card img.card-img {
          width: 345px;
          height: 272px; }
        section.catalog .block-container .block-card .card:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 2; }
        section.catalog .block-container .block-card .card:nth-child(5) {
          display: none; }
        section.catalog .block-container .block-card .card .card-info {
          height: 200px;
          padding: 30px 40px; }
          section.catalog .block-container .block-card .card .card-info a.tour-name {
            line-height: 22px; }
          section.catalog .block-container .block-card .card .card-info .description {
            margin-top: 10px; }
            section.catalog .block-container .block-card .card .card-info .description:nth-child(3) {
              margin-top: 0; }
            section.catalog .block-container .block-card .card .card-info .description .price {
              margin-top: 20px; }
              section.catalog .block-container .block-card .card .card-info .description .price .sale-price {
                margin-left: 15px; } }

@media (min-width: 320px) and (max-width: 743px) {
  section.catalog {
    height: 2290px; }
    section.catalog .block-container h2 {
      font-size: 20px; }
    section.catalog .block-container .block-card {
      grid-template-columns: 290px;
      grid-template-rows: 466px;
      justify-content: center; }
      section.catalog .block-container .block-card .card {
        max-width: 290px; }
        section.catalog .block-container .block-card .card img.card-img {
          width: 290px;
          height: 228px; }
        section.catalog .block-container .block-card .card .card-info {
          padding: 30px 0 0 22px; }
          section.catalog .block-container .block-card .card .card-info a.tour-name img {
            margin-left: 5px; }
          section.catalog .block-container .block-card .card .card-info .description span {
            font-size: 14px; }
          section.catalog .block-container .block-card .card .card-info .price {
            margin-top: 0; }
            section.catalog .block-container .block-card .card .card-info .price .all-price {
              line-height: 30px; }
            section.catalog .block-container .block-card .card .card-info .price .sale-price {
              line-height: 18px; } }

/* COLORS */
/* vars */
/* extends */
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

footer {
  height: 130px; }
  footer .block-container {
    max-width: 1140px;
    margin: 30px auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center; }
    footer .block-container .links {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 10px; }
      footer .block-container .links a {
        text-decoration: none;
        font-size: 14px;
        color: #0d3351; }
        footer .block-container .links a:hover {
          text-decoration: underline; }
    footer .block-container .social {
      display: grid; }
    footer .block-container .support {
      display: grid;
      justify-content: end; }
      footer .block-container .support span {
        line-height: 24px; }
      footer .block-container .support span.bold {
        font-weight: 700;
        font-size: 14px; }
      footer .block-container .support span.small {
        font-size: 10px; }

@media (max-width: 1300px) {
  footer .block-container {
    max-width: 715px; } }

@media (min-width: 320px) and (max-width: 743px) {
  footer .block-container {
    grid-auto-flow: row;
    grid-row-gap: 10px;
    justify-content: center;
    text-align: center; }
    footer .block-container .links {
      display: none; } }

/* COLORS */
/* vars */
/* extends */
header, header img.img-lines, header .top-menu, header .top-menu .hamburger ul.drop-menu, header .block-logo h2, header .block-logo h1, section.catalog .block-container h2, section.catalog .block-container .block-card .card .card-info a.tour-name, .popup-window, .popup-block, .popup-block img {
  transition: 1s all ease-in-out; }

header .block-logo a.btn, section.catalog .block-container a.more {
  /*display: grid;*/
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  font-size: 14px;
  font-weight: 400;
  background: #33c7fd;
  color: #fff; }
  header .block-logo a.btn:hover, section.catalog .block-container a.more:hover {
    background: #66d5fd;
    transition: 0.3s all ease; }

section.catalog .block-container .block-card .card .card-info a.tour-name {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #00a2dd;
  font-family: 'Roboto Slab', serif; }
  section.catalog .block-container .block-card .card .card-info a.tour-name:hover {
    color: #11bfff;
    transition: 0.3s all ease; }

.popup-window {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
  position: fixed; }

.popup-block {
  display: none;
  position: absolute;
  top: 80%;
  left: 35%;
  z-index: 1;
  margin: 0 auto;
  width: 555px;
  text-align: center; }
  .popup-block img {
    border: 5px solid #ffffff;
    z-index: 2;
    text-align: center;
    height: 455px;
    width: 555px; }
  .popup-block a {
    font-size: 50px;
    color: #ffffff;
    text-decoration: none; }
    .popup-block a:hover {
      color: #33c7fd; }
  .popup-block .prev {
    position: absolute;
    top: 50%;
    left: -50px; }
  .popup-block .next {
    position: absolute;
    top: 50%;
    right: -50px; }
  .popup-block span.close {
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -50px;
    font-size: 20px;
    color: #ffffff; }
